  .container1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .row {
    display: flex;
    gap: 24px;

  }

  .box {
    padding: 16px;
    background-color: #ffffff;
    border: 2px solid #d6dce2;
    border-radius: 5px;
  }

  hr {
    border-top: 2px solid #d6dce2;
    margin: 8px 0;
  }

  .text {
    font-size: 12px;
  }

  .input-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  label {
    font-size: 12px;
  }

  input[type="text"] {
    background-color: #ffffff;
    border: 2px solid #e0e3e6;
    border-radius: 5px;
    padding: 8px;
    /* height: 30px; */
    width: auto;
    font-size: 12px;
    color: #656D76;
  }

  input[type="number"] {
    background-color: #ffffff;
    border: 2px solid #e0e3e6;
    border-radius: 5px;
    padding: 8px;
    /* height: 30px; */
    width: auto;
    font-size: 12px;
    color: #656D76;
    -moz-appearance: textfield;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input-col {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .grid {
    width: 100%;
  }

  .width-small {
    width: 50px;
  }

  .width-medium {
    width: 100px;
  }

  .width-large {
    width: 300px;
  }

  input[type="submit"] {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #F0F2F4;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 1px white solid;
    justify-content: center;
    align-items: end;

  }

  input[type="submit"]:active {

    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }

  .input-row {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  /* /table */
  table {
    width: 100%;
  }

  th {
    font-size: 12px;
    font-weight: 400;
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #d6dce2;


  }

  td {
    font-size: 12px;
    font-weight: 400;
    padding: 8px;
    text-align: left;

  }

  .update {
    height: 40px;
    padding: 10px 20px;
    background: #F0F2F4;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 1px white solid;
    justify-content: center;
    position: relative;
    float: right;
    text-decoration: none;
    color: black;
  }

  .update:active {

    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }